VITE_CHESSHUB_CORE_BASEURL=""
VITE_CHESS_SCORESHEET_DIGITALIZATION_BASEURL=""

VITE_DISABLE_AUTH=true

VITE_OPENAPI_SPEC_URL=https://github.com/benjaminkost/chesshub-core/feature/49/write-openapi-specification/api/src/main/resources/openapi.yaml

# Docker
IMAGES=("chesshub-ui")
DOCKER_IMAGE_VERSION=
DOCKER_USERNAME=bkostka
DOCKER_PASSWORD=